<html>
<head>
<title>WELCOME </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/create.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="asset/css/materialize.min.css">

</head>
<body>
	<div class="card-panel teal lighten-2 text-white center"><h2>CHOOSE YOUR FAVOURITE BOOKS</h2>
<div class = createuser>
<form name="message" method="post" action="">
<H4>TITLE</H4><br></br>
AUTHOR:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br></br>
CAT:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br>
</br>
<br></br>
<label>SELECT FAVOURITE</label>
  <select class="browser-default text-teal">
    <option value=""  selected>Choose your option</option>
    <option value="1">The gods are not to plame</option>
    <option value="2">The innocent man</option>
    <option value="3">Forces of attraction</option>
    <option value="1">Deck the hall</option>
    <option value="2">The drummer boy</option>
    <option value="3">Lord of the flies</option>
  </select>
  <br></br>
    <button class="btn waves-effect waves-light btn-small text-white" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>  


  </button>
  </div>

  </div>
</form>


</div>
	</div>
	
	


<script src="asset/css/material.min.js"></script>
<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>
<script>

  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');
</script>
</body>
