<html>
<head>
<title>WELCOME </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Quicksand:300|Yantramanav:900" rel="stylesheet">
<link href="css/create.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="asset/css/materialize.min.css">

</head>
<body>
	<div class="card-panel teal lighten-2 text-white center"><h2>BORROW HERE</h2>
<div class = createuser>
<form name="message" method="post" action="">
<H4>REVIEW BOOKS</H4><br></br>
TITLE:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br></br>
AUTHOR:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br>
CATEGORY:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br>
YEAR:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br>
REVIEW:<textarea rows="" cols="" name="name" id="textarea1"></textarea><br>

</br>
<br></br>

    <button class="btn waves-effect waves-light btn-small text-white" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>   <a href="home.html"class="btn waves-effect btn-small text-white pink">home</button></a><br></br>


  </button>
  </div>

  </div>
</form>


</div>
	</div>
	
	


<script src="asset/css/material.min.js"></script>
<script>
 $(document).ready(function() {
    $('select').material_select();
  });
</script>
<script>

  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');
</script>
</body>
